.DS_Store
	
iTrackAlpha/iTrackAlpha.xcodeproj/project.xcworkspace/xcuserdata/andrewherman.xcuserdatad/
	
iTrackAlpha/iTrackAlpha.xcodeproj/xcuserdata/andrewherman.xcuserdatad/

iTrackAlpha/iTrackAlpha.xcodeproj/project.pbxproj
